 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>

    <link rel="stylesheet" href="../static/css/maxcdn_bootstrap.min.css">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.0.min.js"></script>
   
  </head>
 
  <body>

      <div class="container">
          {% for message in get_flashed_messages() %}
          {% if (message|string).split('::') %}
          {% set type=(message|string).split('::') %}
          {% else %}
          {% set type=message %}
          {% endif %}
          {% if type[0]=='success' %}
          <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ type[1] }}
          </div>
          {% elif type[0]=='danger' %}
          <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ type[1] }}
          </div>
          {% elif type[0]=='info' %}
          <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ type[1] }}
          </div>
          {% else %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message|safe }}
          </div>
          {% endif %}
          {% endfor %}
      
          {% block page_content %}  {% endblock %}
      </div>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="#">Entrar</a></li>
            <li role="presentation" ><a href="/showSignUp">Registro</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Acortador de URL's</h3>
      </div>
      <center>
        <h3>Ingresar</h3>
      </center>
      <div class="container">
        <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-md-6 col-sm-6 col-xs-6">
            <center>
              <img src="../static/font/cutu.jpg" class="img-responsive">
              <br>
            </center>
        </div>
        
        <form class="form-signin" action="/validateLogin" method="post">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

          <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
        <br>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Saul Cruz 2019</p>
      </footer>
 
    </div>
  </body>
</html>
