<!DOCTYPE html>
<html lang="en">
 
<head>
  <title>Acortador App</title>
  <link rel="stylesheet" href="../static/css/maxcdn_bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/font-awesome.min.css">
  <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
  <script src="../static/js/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery.tmpl.js"></script>
  <script src="../static/js/getbootstrap.bootstrap.min.js"></script>


</head>
<body>

  <div class="container">
    {% for message in get_flashed_messages() %}
    {% if (message|string).split('::') %}
    {% set type=(message|string).split('::') %}
    {% else %}
    {% set type=message %}
    {% endif %}
    {% if type[0]=='success' %}
    <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ type[1] }}
    </div>
    {% elif type[0]=='danger' %}
    <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ type[1] }}
    </div>
    {% elif type[0]=='info' %}
    <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ type[1] }}
    </div>
    {% else %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message|safe }}
    </div>
    {% endif %}
    {% endfor %}

    {% block page_content %}  {% endblock %}
</div>

<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills  pull-right">

        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ session_user_name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Salir</a></li>
          </ul>
        </li>

      </ul>
    </nav>
    <h3 class="text-muted">Acortador de URL's</h3>
  </div>
  <div class="container" style="margin-top:50px;"></div>
</div>



<div class="container">
  <footer class="footer">
    <p>&copy; Saul Cruz 2019</p>
  </footer>
</div>

</body>
</html>
